
@{
    ViewBag.Title = "Home Page";
}
<div>
    <h2>Class structure and Use case </h2>
    <div>
        <h4>My class structure diagram show the classes I used</h4>
        <br />
        <img src="https://serving.photos.photobox.com/70817712d7c6cda3226eaa7969a8747cede0a3c31555c7f490c2778c050c5b0357d1a1e3.jpg" />
    </div>
    <div>
        <h4>My use case narrative</h4>
        <br />
        <img src="" />
    </div>
</div>


